.card-1 {
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-1-bg.png');
  background-size: cover;
}

.card-2 {
  display: flex;
  justify-content: flex-end;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-2-bg.png');
  background-size: cover;
}

.card-3 {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url('https://assets.ccbp.in/frontend/react-js/reusable-banners-card-3-bg.png');
  background-size: cover;
}

/* Write your code here. */

.heading {
  color: #7686b8;
  font-family: 'Roboto';
  font-size: 12px;
  font-weight: bold;
}

.description {
  color: #57889f;
  font-family: 'Roboto';
  font-size: 6px;
  margin-top: 45px;
  margin-bottom: 61px;
}

.show-more-btn {
  color: #7686b8;
  background-color: #57889f;
  font-size: 14px;
  font-family: 'Roboto';
  font-weight: bold;
  border: 2px solid #7686b8;
  border-radius: 3px;
  padding: 5px;
}
